$nav-height: 3rem;

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Georgia";
  scroll-behavior: smooth;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: url("../assets/003-Brown-Paper.png");
}

.focus,
.focus-bigger {
  transition: transform 0.2s;
}
.focus:hover {
  transform: scale(1.025);
}
.focus-bigger:hover {
  transform: scale(1.15);
}
.anchor-point {
  padding-top: 3rem;
}

.buttons{
  margin-top: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.link-button{
  margin-top: 1rem;
  background-color: lightgray;
  text-decoration: none;
  color: black;
  padding: 0.5rem;
  font-size: 2rem;
  margin: 1rem;
  border-radius: 1rem;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

nav {
  height: $nav-height + 0.1rem;
  position: fixed;
  z-index: 1;
  background-color: white;
  width: 100%;
  display: flex;
  align-items: center;
  img {
    height: 100%;
  }
  a {
    text-decoration: none;
    padding: 0.75rem;
    margin-left: 0.25rem;
    color: black;
  }
  a:hover {
    color: purple;
  }
}

.section,
footer {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.section {
  padding-left: 1rem;
  padding-right: 1rem;
  h1 {
    font-size: 3.5rem;
    text-decoration: underline;
  }
  h2 {
    font-size: 2.5rem;
    text-decoration: underline;
  }
  h3 {
    font-size: 1.5rem;
    text-decoration: underline;
  }
  h4 {
    font-size: 1.25rem;
    margin-bottom: 0.5rem;
  }
  p,
  span {
    font-size: 1.25rem;
  }
}

hr {
  width: 100vw;
}

#main {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  height: 100vh;
}

#about-skills {
  display: flex;
  align-items: baseline;
}

#about {
  width: 50%;
  .text-area {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    p {
      margin: 0.25rem 0;
    }
  }
}

#skills {
  width: 50%;
  display: flex;
  flex-direction: column;
  margin-top: 2rem;
  .icons {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    img {
      height: 5rem;
      width: 5rem;
      margin: 0.5rem;
    }
  }
}

#experience {
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: center;
  margin-top: 2rem;
  .experience-widget {
    padding: 1.5rem 0;
    text-align: left;
    display: flex;
    align-items: center;
    .description {
      max-width: 50rem;
      margin-right: 2rem;
      .experience-widget-text {
        display: flex;
        flex-direction: column;
        height: 100%;
      }
      .technologies-used {
        display: flex;
        flex-wrap: wrap;
        margin-top: 1rem;
        width: 100%;
        img {
          height: 2rem;
          width: 6rem;
        }
      }
    }
    .website-preview {
      max-width: 35rem;
      width: 100%;
      box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
      border-radius: 0.5rem;
    }
  }
}

#contact {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 75rem;
    padding: 0 0.5rem;
    background-color: gray;
    border-radius: 0.5rem;
    padding: 1rem;
    margin-bottom: 2rem;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    .g-recaptcha div {
      margin-left: auto;
      margin-right: auto;
    }
  }
  h2 {
    font-size: 3rem;
    margin: 1rem;
  }
  .field-container {
    display: flex;
    flex-direction: column;
    margin-bottom: 1.75rem;
    position: relative;
    width: 100%;
    label {
      font-size: 1.5rem;
    }
    textarea {
      height: 10rem;
      width: 100%;
      font-size: 1.25rem;
      resize: none;
    }
    input {
      height: 3rem;
      font-size: 1.25rem;
    }
    span {
      bottom: -2rem;
      font-size: 1rem;
      background-color: black;
      padding: 0.25rem;
      border-radius: 0.5rem;
    }
  }
  button {
    margin-top: 1.5rem;
    margin-bottom: 1.25rem;
    width: 75%;
    height: 3rem;
    font-size: 2rem;
    max-width: 20rem;
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  }
}

a#contact {
  top: 3rem;
}

footer {
  background-color: black;
  color: white;
  height: 7rem;
  display: flex;
  flex-direction: column;
  .my-links {
    display: flex;
    align-items: center;
    .socials {
      a {
        width: 2.5rem;
        height: 2.5rem;
        margin: 0 0.25rem;
        display: inline-block;
        img,
        svg {
          width: 100%;
          height: 100%;
          border-radius: 0.5rem;
        }
      }
    }
  }
  .my-tech-used {
    display: flex;
    margin-top: 0.25rem;
    span {
      margin-right: 0.25rem;
    }
  }
}

@media (max-width: 950px) {
  .section {
    h1 {
      font-size: 3rem;
    }
  }

  #about-skills {
    flex-direction: column;
  }

  #about {
    width: 100%;
  }

  #skills {
    width: 100%;
    .icons {
      img {
        height: 3.5rem;
        width: 3.5rem;
      }
    }
  }
  #experience {
    .experience-widget {
      flex-direction: column;
      .description {
        margin-right: 0;
        .experience-widget-text {
          text-align: center;
          margin-right: 0;
          margin-bottom: 1rem;
        }
        .technologies-used {
          justify-content: center;
          margin-bottom: 1rem;
        }
      }
    }
  }
  footer {
    height: 5rem;
    font-size: 0.75rem;
    .my-links {
      .socials {
        a {
          width: 1.5rem;
          height: 1.5rem;
        }
      }
    }
    .my-tech-used {
      .technologies-used {
        img {
          height: 0.75rem;
        }
      }
    }
  }
}
