$nav-height: 50px;

*,
*::before,
*::after{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

nav{
  height: $nav-height;
  background-color: rgba($color: white, $alpha: 0.75);
  img{
    height: 100%;
  }
}

.section, footer{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

nav{
  scroll-snap-align: start;
}

#hero{
  background-color: red;
  justify-content: space-around;
  img{
    height: 500px;
    width: 700px;
  }
}

#about{
  background-color: orange;
}

#skills{
  background-color: yellow;
  flex-direction: column;
  .upper-area{
    display: flex;
    flex-direction: row;
  }
}

#experience{
  background-color: green;
}

#contact{
  background-color: blue;
}

footer{
  background-color: purple;
}